@keyframes skeleton-loading {
    0% {
        background-position: -134px 0;
    }
    100% {
        background-position: calc(134px + 100%) 0;
    }
}

.skeleton{
    display: flex;
    min-width: 134px;
    height: calc(100% - 12px);
    min-height: 23px;
    overflow: hidden;
    margin: auto 0px;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    top: -2px;
    opacity: .4;
    background-image: linear-gradient(90deg, lightgray, darkgray, lightgray);
    background-size: 200px 100%;
    animation: skeleton-loading ease-in-out 1.5s infinite;
    -webkit-animation: skeleton-loading ease-in-out 1.5s infinite;
}